/* 
    cor seta : rgb(113,113,113)
    cor indicador ativo: rgb(0,143,131)
    cor indicador não ativo: rgb(219,219,219)
    cor fonte titulo: rgb(69,173,164)
    cor paragrafo: rgb(7,146,135)
    cor botão: rgb(0,143,131)
*/

body{
    background-color: rgb(248,248,248);
}

li { list-style: none;}

/* NAVBAR */
.navbar-light .navbar-brand {
    font-size: 30px;
}

/* CAROUSEL */

.carousel h1{
    color: rgb(69,173,164);
}

.carousel p {
    color: rgba(7,146,135,1);
}

.carousel li {
    color: rgba(7,146,135,1);    
}

.carousel-width{
    width: 500px !important;
    margin: 50px auto 60px auto !important;
}

.carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 40px;
    background-color: rgb(219,219,219);
}

.carousel-indicators li:last-child {
    margin-right: 0;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%717171' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%717171' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
}

.carousel-indicators .active{
    background-color: rgb(0,143,131);
}

.carousel-item img {
    color: green !important;
}

.carousel-item ul {
    text-align: left;
}

.check-img{
    background-image: url(../img/check-circle.svg);
    width: 16px;
    height: 16px;
    margin-right: 20px;
}

/* BOTOES */
.btn-adesao{
    background-color: #008f83;
    font-size: 12px !important;
}